<h1> Ready to be sent : </h1>
<% @ready.each do |order| %>
<p><%= order.id %> ||  <%= order.name %> || <%= order.zipcode %> </p>
<% end %>

<h2> Orders on Hold : </h2>
<% @not_ready.each do |order| %>
<p><%= order.id %> ||  <%= order.name %> || <%= order.zipcode %> </p>
<% end %>